@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-solway;
  }
};

/* Hide scrollbar but keep scrolling */
.no-scrollbar {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}

@layer utilities {
  .bg-radial-gradient {
    background: radial-gradient(circle at center, var(--tw-gradient-stops));
  }
}



